- content_for :page_title, t("page.titles.sign_up")

= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :layout => :horizontal) do |f|
  = f.email_field :email, autofocus: true
  = f.password_field :password
  = f.password_field :password_confirmation
  = f.form_group do
    = f.submit t("form.sign_up.buttons.submit")

= render "devise/shared/links"
