- content_for :page_title, t("page.titles.change_password")

= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: {:method => :put}, :layout => :horizontal) do |f|
  = f.hidden_field :reset_password_token
  = f.password_field :password, autofocus: true, label: "New password"
  = f.password_field :password_confirmation, label: "Confirm new password"
  = f.form_group do
    = f.submit t("form.change_password.buttons.submit")

= render "devise/shared/links"
