<!DOCTYPE html>
<html>
  <head>
    <title>CurrencyTracker</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <h1>CurrencyTracker</h1>
      <section>
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
      </section>
    </header>
    <nav>
      <ul>
        <% if user_signed_in? %>
        <li><%= link_to "Currencies", currencies_path %></li>
        <li><%= link_to "Countries", countries_path %></li>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Sign in", new_session_path(resource_name) %></li>
        <li><%= link_to "Sign up", new_registration_path(resource_name) %></li>
        <% end %>
      </ul>
    </nav>
    <section>
      <%= yield %>
    </section>
    <footer>
      CurrencyTracker &copy; Copyright 2011 by Smart Enterprises.
    </footer>
  </body>
</html>
